<!doctype html>
<html lang="en">
<head>
    {{#> _head }}
        <title>忘记密码</title>
        <style></style>
    {{/_head}}
</head>
<body>
<div class="app">
    {{> header}}
    <section class="section">
        <div class="container">
            <div class="columns content">
                <div class="column is-half is-offset-one-quarter">
                    <h1 class="title"><img src="/images/star.svg" alt="">重置密码</h1>
                    <hr>
                    {{#unless successmessage}}
                        <p>请使用下面的表单提供您的电子邮件地址。您会收到一封电子邮件，其中包含重置密码的链接。</p>
                        <br>
                        {{#if errormessage}}
                            <hr>
                            <p class="error">
                                {{errormessage}}
                            </p>
                        {{/if}}

                        <form method="POST">
                            <div class="field">
                                <label class="label {{#if errors.email}}is-danger{{/if}}" for="email">
                                    {{#if errors.email}} {{errors.email.message}} {{else}}Email address {{/if}}
                                </label>
                                <p class="control has-icons-left has-icons-right">
                                    <input class="input {{#if errors.email}}is-danger{{/if}}" type="text" placeholder="Your email address" id="email" name="email" value="{{email}}">
                                    <span class="icon is-small is-left"><i class="fa fa-user"></i></span>
                                    {{#if errors.email}}
                                        <span class="icon is-small is-right"><i class="fa fa-warning"></i></span>
                                    {{/if}}
                                </p>
                                {{#unless email}}
                                    <p class="help"></p>
                                {{/unless}}
                            </div>
                            <button class="button is-primary" type="submit">发送邮件</button>
                        </form>
                    {{else}}
                        <div class="notification is-success">
                            {{successmessage}}
                        </div>
                    {{/unless}}
                </div>
            </div>
        </div>
    </section>
</div>
{{> footer}}
</body>
</html>

