<!doctype html>
<html lang="en">
<head>
    {{#> _head }}
        <title>七牛文件列表</title>
    {{/_head}}
</head>
<body>
<div class="app">
    {{> header}}
    <section class="section ">
        <div class="container box">
            <div class="tabs">
                <ul>
                    <li class="{{#unless isBlock2}}is-active{{/unless}}">
                        <a href="/qiniu?bucket=cdn-block1">
                            <span class="icon is-small"><i class="fa fa-home"></i></span>
                            <span>cdn-block1</span>
                        </a>
                    </li>
                    <li class="{{#if isBlock2}}is-active{{/if}}">
                        <a href="/qiniu?bucket=cdn-block2">
                            <span class="icon is-small"><i class="fa fa-home"></i></span>
                            <span>cdn-block2</span>
                        </a>
                    </li>
                </ul>
            </div>
            <table class="table  is-striped  is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>视频名字(key)</th>
                    <th>类型</th>
                    <th>存入时间</th>
                    <th>大小</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {{#each data.items}}
                    <tr>
                        <td>{{key}}</td>
                        <td>{{mimeType}}</td>
                        <td>{{formatTime putTime}}</td>
                        <td>{{formatFsize fsize}}</td>
                        <td>
                            {{#if ../isBlock2 }}
                                <a href="{{cdnURL key}}" class="is-text">查看</a>&nbsp;
                                <a href="/qiniu/del?key={{key}}&bucket=cdn-block2" class="is-text">删除</a>&nbsp;
                            {{else}}
                                <a href="/qiniu/trans?key={{key}}" class="button">转码</a>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <nav class="pagination" role="navigation" aria-label="pagination">
                <a class="pagination-previous" title="This is the first page" href="/qiniu">首页</a>
                {{#if data.marker}}
                    <a class="pagination-next" href="/qiniu?marker={{data.marker}}">下一页</a>
                {{else}}
                    <a class="pagination-next" title="Disabled button" disabled>下一页</a>
                {{/if}}
                <ul class="pagination-list"></ul>
            </nav>
        </div>
    </section>
</div>
{{> footer}}
</body>
</html>

