<!doctype html>
<html lang="en">
<head>
    {{#> _head }}
        <title>首页</title>
    {{/_head}}
</head>
<body>
<div class="app">
    {{> header}}
    <section class="section">
        <div class="container">

            <p class="help {{#if errors.title}}is-danger{{/if}}">{{#if errors.title}} {{errors.title.message}} {{/if}}</p>
            <p class="help {{#if errors.prefix}}is-danger{{/if}}">{{#if errors.prefix}} {{errors.prefix.message}} {{/if}}</p>
            <p class="help {{#if errors.cover}}is-danger{{/if}}">{{#if errors.cover}} {{errors.cover.message}} {{/if}}</p>

            <!--添加-->
            <form method="post">
                <div class="field has-addons">
                    <div class="control"><input class="input {{#if errors.title}}is-danger{{/if}}" type="text" name="title" placeholder="创建课程"></div>
                    <div class="control"><input class="input {{#if errors.prefix}}is-danger{{/if}}" type="text" name="prefix" placeholder="课程前缀"></div>
                    <div class="control"><input class="input {{#if errors.cover}}is-danger{{/if}}" type="text" name="cover" placeholder="封面url"></div>
                    <div class="control">
                        <button class="button is-primary" type="submit">添加</button>
                    </div>
                </div>
            </form>
            <br>

            <!--列表-->
            <div class="columns is-multiline">
                {{#each videos}}
                    <div class="column is-one-quarter">
                        <a href="/video/player?prefix={{prefix}}">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by2"><img src="{{cover}}" alt="Placeholder image"></figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">{{title}}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>

        </div>
    </section>
</div>
{{> footer}}
</body>
</html>

